/* .linha{
    border: 1px solid yellow;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
:root{
    --bg-principal: #26403D;
    --bg: #76A68F;
    --bg-secundaria: #ECF9FC;
    --cor-texto-principal: #000000;
    --cor-texto-secundaria: #D9D2B0;
    --cor-texto-terciaria: #F2B705;
    --cor-warning: #FAB440;

    --texto-titulo: 700;
    --texto-descricao: 500;
    --texto-subtitulo: 400;
}

body{
    display: flex;
    flex-direction: column;
    gap: 51px;
    background: var(--bg-secundaria);
    position: relative;
}

header,
footer{
    display: flex;
    align-items: center !important;
    background: var(--bg-principal);
}

main{
    height: 90vh;
}

.erro-msg{
    position: absolute;
    right: 0;
    top: 78px;
    z-index: 1;
    width: 250px;
}

.page-link{
    color: var(--bg-principal) !important;
}

.page-item.active>.page-link{
    background: var(--bg) !important;
    border-color: var(--bg-principal) !important;
}

/* ==================================== */
/* Navbar */
/* ==================================== */
    .container.p-3 .row{
        font-weight: var(--texto-descricao);
    }
    .container.p-3 .row .col-2> a > .logo{
        width: 40px;
        color: var(--cor-texto-secundaria);
    }

    .container.p-3 .row .col-8 .nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
    }
    .container.p-3 .row .col-8 .nav li>a{
        text-decoration: none;
        color: var(--cor-texto-secundaria);
    }

    .container.p-3 .row .col-2 {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .container.p-3 .row .col-2 span{
        color: var(--cor-texto-secundaria);
    }

/* TAREFAS */
    .col>h4{
        font-weight: var(--texto-titulo);
        font-size: 30px !important;
    }

    .select{
        font-weight: var(--texto-titulo) !important;
    }

    .novo{
        background: var(--bg-principal);
        border: none;
        transition: .3s;
    }
    .novo:hover{
        transform: scale(1.1);
        background: var(--bg-principal);
    }

/* ==================================== */
/* Cards - Listagem */
/* ==================================== */
   /*  .cartao{
        min-height: calc(100vh - 500px);
    } */
    .card{
        max-width: 14rem;
        max-height: 14rem;
        padding: 5px;
        border-radius: 10px;
        margin-left: 25px;
    }

    .border-success, .text-primary{
        background: white !important;
        color: var(--cor-texto-principal) !important;

        & .card-header{
            font-weight: var(--texto-titulo) !important;
        }
        
        & .card-title{
            max-width: 100%;
            font-weight: var(--texto-descricao);
        }

        & .card-text{
            font-weight: var(--texto-subtitulo);
        }
    }
    .opacity-50{
        opacity: .8 !important;
    }
    .btn-outline-warning:hover{
        color: white;
    }
    .bg-laranja{
        background: #FF5F15;
    }
/* ==================================== */
/* Formulário Cadastro */
/* ==================================== */
    .mb-3.text-center .btn-secondary.salvar{
        background: var(--bg-principal);
        color: var(--bg);
        transition: .3s;
    }
    .mb-3.text-center .btn-secondary.salvar:hover, .mb-3.text-center .btn-secondary.cancelar:hover{
        transform: scale(1.1);
        color: white;
    }

    .mb-3.text-center .btn-secondary.cancelar{
        color: white;
        transition: .3s;
    }

    .row .mt-5 h4{
        font-weight: var(--texto-titulo);
    }

    .form-label{
        font-weight: var(--texto-descricao);
    }                       

/* ==================================== */
/* Footer */
/* ==================================== */
    footer>.footer{
        margin: 0 auto;
        padding: 13px;
        color: var(--cor-texto-secundaria);
    }