/* .linha{
    border: 1px solid yellow;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
:root{
    --bg-principal: #26403D;
    --bg: #76A68F;
    --bg-secundaria: #ECF9FC;
    --cor-texto-principal: #000000;
    --cor-texto-secundaria: #D9D2B0;
    --cor-texto-terciaria: #F2B705;
    --cor-warning: #FAB440;

    --texto-titulo: 700;
    --texto-descricao: 500;
    --texto-subtitulo: 400;
}

body{
    display: flex;
    flex-direction: column;
    gap: 53px;
    background: var(--bg-secundaria);
}
header,
footer{
    display: flex;
    align-items: center !important;
    background: var(--bg-principal);
}

/* ==================================== */
/* Navbar */
/* ==================================== */
.container.p-3 .row{
    font-weight: var(--texto-descricao);
}
.container.p-3 .row .col-2 img{
    width: 40px;
}

.container.p-3 .row .col-8 .nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
.container.p-3 .row .col-8 .nav li>a{
    text-decoration: none;
    color: var(--cor-texto-secundaria);
}

.container.p-3 .row .col-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container.p-3 .row .col-2 span>i{
    color: var(--cor-texto-secundaria);
}


/* ==================================== */
/* Cards */
/* ==================================== */
.border-primary, .text-primary{
    background: var(--bg) !important;
    border-color: var(--cor-texto-principal) !important;
    color: var(--cor-texto-principal) !important;

    & .card-header{
        font-weight: var(--texto-titulo);
    }

    & .card-title{
        font-weight: var(--texto-descricao);
    }

    & .card-text{
        font-weight: var(--texto-subtitulo);
    }
}

.container .d-flex{
    flex-wrap: wrap;
    gap: 10px;
}

/* ==================================== */
/* Footer */
/* ==================================== */
footer>.footer{
    margin: 0 auto;
    padding: 13px;
    color: var(--cor-texto-secundaria);
}